*{
    padding: 0;
    margin: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
$ancho:720px;
$alto:100px;
$var1:150%;
$var2:50%;
$xs:16px;
$font3: 'Londrina Shadow', cursive;
$font2: 'Trade Winds', cursive;
$font1:'Slackey', cursive;
$font4: 'Bangers', cursive;
$color1: red;
$color2: black;
$color3: white;
$color4: cyan;
$color5: magenta;
$color6: yellow;


body{
    background-color: $color2;
    width: auto;
    height: auto;
}
.t1{
    font-family: $font3;
    font-size: 50px;
    letter-spacing: 30px;
    color: $color3;
}
