


*{
    padding: 0;
    margin: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
$ancho:720px;
$alto:100px;
$var1:150%;
$var2:50%;
$xs:16px;
$font3: 'Londrina Shadow', cursive;
$font2: 'Trade Winds', cursive;
$font1:'Slackey', cursive;
$font4: 'Bangers', cursive;
$color1: red;
$color2: black;
$color3: white;
$color4: blue;
$color5: orange;
$color6: yellow;


.navbar{
    background-image: linear-gradient(to bottom right, $color2 , $color1);
    text-align: center;
}
.H1{
    font-family: $font1;
    font-size: 30px;
    color: $color3;
    padding: 20px;
    text-align: center;
    margin: 5px;
}
body{
    background-color: $color2;
    background-size:cover;
    background-position: center;
    width: auto;
    height: auto;
    background-image: url(/productos/img2/pngegg.png)
}
.t1{
    font-family: $font3;
    font-size: 60px;
    letter-spacing: 30px;
    color: $color3;
}

@mixin tex {
    font-family: $font1;
    text-align: center;
    color: $color2;
    font-size: 20px;
    padding: 40px;
}
.container{
    @include tex;
    width: auto;
    height: auto;
    background-position: center


}
.nav-link{
    @include tex;
    letter-spacing: 1px;
    transition: 0.7s;
    margin-left: 30px;
    height:100PX;


}
.P0{
    font-family: $font3;
    font-size: 25PX;
    color: $color3;
    text-shadow: 2px 5px 5px $color2;
    text-align: center;
    margin-left: 100px;

}
.P0:hover{
    font-size: 30px ;
}

.P1{
    font-family: $font4;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    color: $color3;
    text-shadow: 2px 5px 5px $color2;
}
.P1:hover{
    font-size: 40px;
}


.jumbotron2{
    font-family: $font4;
    color: $color3;
    background-image: linear-gradient(to bottom right, $color2 , $color1);
    padding: 20px;
    font-size: 25px;
}
.i4 a{
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 20px;
    color: $color3;
    text-decoration: none;
    transition: 1s;
    letter-spacing: 10PX;

}
.i4 a:hover{
    color:$color2;
}

